

<section style="position: relative;width: 40%;padding: 0 30%;display: block;float: left;">
  <article style="position: relative;width: 100%;float: left;display: block;">
    <div style="position: relative;width: 100%;float: left;display: block;">
      <table style="width:100%;text-align: center; padding: 20px;background: #f7f4f4">
        <tr style="position: relative;width: 100%;float: left;display: block;">
          <td style="position: relative;width: 100%;float: left;display: block;"><a href="/#!/page/index"><img src="http://leapcurve.com/assets/logo1.png" alt="leapCurve" style="height: 50px; text-align: center"></a></td>
        </tr>

        <tr style="position: relative;width: 100%;float: left;display: block;">
          <td style="position: relative;width: 100%;float: left;display: block; padding-top: 20px;text-align: center;">
            <span>Please click the link below to reset your password.</span>
          </td>
        </tr>
        <tr style="position: relative;width: 100%;float: left;display: block;">
          <td >
<!--            <a href="" style="padding: 4px 35px;border: 1px solid gray;background: #d4cfcf; outline: none;">SET PASSWORD</a>-->
            <a href="<%=@link%>"><%=@link%></a>
          </td>
        </tr>
      </table>
    </div>
  </article>
</section>