<% if browser.device.mobile? %>
  <style>
    .section {
      position: relative;
      display: block;
      padding-top: 14%;
      text-align: center;
      width: 100%;
      float: left;
    }

    .article {
      padding-left: 0%;
      padding-right: 0%;
      position: relative;
      float: left;
      display: block;
      width: 100%;
    }

    .form-div {
      text-align: center;
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }

    form {
      position: relative;
      display: block;
      float: left;
      width: 100%;
    }

    .row {
      position: relative;
      display: block;
      width: 100%;
      float: left;
    }

    .col {
      position: relative;
      display: block;
      width: 100%;
      float: left;
    }

    .set_pass_input {
      margin: 30px 0 20px;
      border-bottom: 1px solid black !important;
      font-size: 12px;
      font-family: Montserrat-Regular;
      outline: none;
      text-align: center;
      width: 80%;
      border: none;
    }

    .user-email {
      text-align: center;
      font-size: 15px;
      font-family: Montserrat-Regular;
    }

    ::placeholder {
      font-family: Montserrat-Regular;
    }

    .submit-btn {
      margin-top: 20px;
      cursor: pointer;
      font-size: 17px;
      padding: 8px 30px;
      border: none;
      background: #eeeeee;
      outline: none;
    }
  </style>
<% elsif browser.device.tablet? %>
  <style>
    .section {
      position: relative;
      display: block;
      padding-top: 4%;
      padding-right: 10%;
      padding-left: 10%;
      text-align: center;
      width: 80%;
      float: left;
    }

    .article {
      padding-left: 0%;
      padding-right: 0%;
      position: relative;
      float: left;
      display: block;
      width: 100%;
    }

    .form-div {
      text-align: center;
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }

    form {
      position: relative;
      display: block;
      float: left;
      width: 100%;
    }

    .row {
      position: relative;
      display: block;
      width: 100%;
      float: left;
    }

    .col {
      position: relative;
      display: block;
      width: 100%;
      float: left;
    }

    .set_pass_input {
      margin: 30px 0 20px;
      border-bottom: 1px solid black !important;
      font-size: 14px;
      font-family: Montserrat-Regular;
      outline: none;
      width: 40%;
      border: none;
    }

    .user-email {
      text-align: center;
      font-size: 17px;
      font-family: Montserrat-Regular;
    }

    ::placeholder {
      font-family: Montserrat-Regular;
    }

    .submit-btn {
      margin-top: 20px;
      cursor: pointer;
      font-size: 25px;
      width: 20%;
      padding: 5px;
      border: none;
      background: #eeeeee;
      outline: none;
    }
  </style>
<% else %>

  <style>
    .section {
      position: relative;
      display: block;
      padding-top: 4%;
      padding-right: 20%;
      padding-left: 20%;
      text-align: center;
      width: 60%;
      float: left;
    }

    .article {
      padding-left: 0%;
      padding-right: 0%;
      position: relative;
      float: left;
      display: block;
      width: 100%;
    }

    .form-div {
      text-align: center;
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }

    form {
      position: relative;
      display: block;
      float: left;
      width: 100%;
    }
      .row{
        position: relative;
        display: block;
        width: 100%;
        float: left;
      }

    .col{
        position: relative;
        display: block;
        width: 100%;
        float: left;
      }

      .set_pass_input{
        margin: 30px 0 20px;
        border-bottom: 1px solid black !important;
        font-size: 14px;
        font-family: Montserrat-Regular;
        outline: none;
        width: 40%;
        border: none;
      }
      .user-email{
        text-align: center;
        font-size: 17px;
        font-family: Montserrat-Regular;
      }
      ::placeholder{
        font-family: Montserrat-Regular;
      }
.submit-btn{
  margin-top: 20px;
  cursor: pointer;
  font-size: 25px;
  width: 20%;
  padding: 5px;
  border: none;
  background: #eeeeee;
  outline: none;
}
      </style>
<% end %>
  <section class="section">
    <article class="article">
      <span id="alert">

      </span>
      <div class="form-div">
        <%= form_tag({:action => :set_password}, {:method => :post}) do %>
          <%= hidden_field_tag "token" ,params[:token] %>
         <div class="row">
           <div class="col">
             <span class="user-email">SET YOUR PASSWORD</span>
           </div>
           <div class="col">
             <input type="password" name="password" id="password" placeholder="NEW PASSWORD"  class="set_pass_input" required/>
           </div>
           <div class="col">
             <input type="password" name="confirm_password" id="confirm_password" placeholder="CONFIRM PASSWORD"  class="set_pass_input" required/>
           </div>
           <button type="submit" name="submit" id="submit" onclick="return check_password()"class="submit-btn">Submit</button>

         </div>
        <%end%>
      </div>
    </article>
  </section>


<script>
  var alert=document.getElementById('flash');
  function check_password() {
      pass=document.getElementById('password').value;
      conf_pass=document.getElementById('confirm_password').value;
      if(!(pass==conf_pass)){
          alert.innerHTML="Password does not Match!"
          alert.style.visibility='visible';
          alert.classList.add('alert-success');
          setTimeout(function () {
              alert.innerHTML="!"
              alert.style.visibility='hidden';
              alert.classList.remove('alert-success');
          },3000);
          return false;
      }else {
          return true;
      }
  }
</script>