<style>
  #box {
    display: none;
    text-align: center;
    border-radius: 3px;
    position: fixed;
    top: 2%;
    left: 30%;
    right: 30%;
    border: 1px solid gray;
    padding: 1% 1%;
    background-color: white;
    z-index: 888;
  }

  #row1 {
    color: gray;
    padding: 10px 0px;
  }

  #row2 {

  }

  #yes_btn {
    background-color: #cde7ea;
    color: #808080;

  }

  #no_btn {
    background-color: #b7dde1;
    color: #808080;

  }

  #cancel_btn {
    background-color: gray;
    display: inline-block;
    color: white;

  }

  .cmn_btn {
    padding: 5px 10px;
    border: 1px;
    /*color: white;*/
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin: .5%;
  }
</style>
<div id="box">
  <div id="row1">Would you like to save this role before logging out?</div>
  <div id="row2">
    <span><input type="button" value="Yes" id="yes_btn" class="cmn_btn"></span>
<!--    <span><input type="button" value="No" id="no_btn" class="cmn_btn"></span>-->
    <span><input type="button" value="No" id="cancel_btn" class="cmn_btn"></span>
  </div>
</div>
<script>
    async function normal_confirm(msg) {
        document.getElementById('row1').innerHTML = msg
        document.getElementById('box').style.display = 'block'
        let promise = new Promise((resolve, reject) => {
            $("#yes_btn").on("click", function () {
                document.getElementById('box').style.display = 'none'
                resolve(true);
            });
            // $("#no_btn").on("click", function () {
            //     document.getElementById('box').style.display = 'none'
            //     resolve(false);
            // });
            $("#cancel_btn").on("click", function () {
                document.getElementById('box').style.display = 'none'
                resolve(false);
            });
        });
        var result = await promise; // wait till the promise resolves (*)
        return result;
    }
</script>