<style>
  header{
    display: none;
  }
  #header{
    display: block;
  }
  .csstransforms3d .app-container{
    overflow: hidden !important;
  }
  .navbar-brand{
    height: 60px;
  }
  iframe{
    /*margin-top: 6%;*/
    height: 100vh;
  }
  .header{
    position: relative;
    display: block;
    width: 96%;
    float: left;
    padding: 0 2%;
  }
  .logo{
    position: relative;
    display: block;
    width: 30%;
    float: left;
    padding: 0;
  }
  .header-link{
    position: relative;
    display: block;
    width: 70%;
    float: left;
    text-align: right;
  }
  .header-link ul{
    display: inline-block;
    padding: 15px 0;
  }

  .header-link ul li{
    display: inline-block;
    padding: 0 5px;
    color: gray;
  }

  .header-link ul li a{
    font-family: Montserrat-SemiBold;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    color: gray;
  }
  .logo1{
    float: left;
    height: 50px;
    padding: 15px 0;
  }
  .main-img{
    width: 70%;
    padding: 3% 15%;
  }
    body{
      overflow: hidden;
    }
</style>

<div class="header">
  <div class="logo">
    <img src="/assets/logo1.png" alt="Mylestone" class="logo1">
  </div>
  <div class="header-link">
    <ul>
      <li><a href="/#!/page/assessor_usercl" target="_blank" style="cursor: pointer;color: black;text-decoration: underline;">Know Your Career Level</a></li>
    </ul>
  </div>
</div>

<iframe  id = 'google_frame' src="https://docs.google.com/forms/d/e/1FAIpQLSfy2ikrbi7NTBx3-WcLaN0MUFjcIePcJDSD66cSw1FjKvcHeA/viewform?embedded=true" width="100%"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
