<style>
 .row-top-margin{
     margin-top: 7% !important;
 }
 .h2-align{
     text-align: center;
 }
</style>

<div class="container">
    <div class="row row-top-margin">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2 class="h2-align">Introduction</h2><br/>
            <h5>Think of leapcurve as your career GPS, which helps in assessing your
                current position and evaluating different paths to suggest the most optimum route to reach your
                destination.</h5>
            <p>In other words, it helps to assess your career level score that measures the complexity of
                the role you are currently doing. You can then benchmark this figure against industry or
                peers and navigate your career accordingly. With the help of detailed reports, get
                meaningful insights about your existing role and equip yourself to catapult to a more
                rewarding career. Take the reins of your career in your own hands, aided by cutting edge
                tools along with experienced and certified advisors.</p>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>
</div>
