<!-- top navbar-->
<!--<header ng-include="'/assets/templates/top-navbar.html'" ></header>-->
<!-- Sidebar-->
<!--<aside ng-include="'/assets/templates/sidebar.html'" ng-class="app.theme.sidebar"></aside>-->
<!-- Main-->
<section>
   <!-- Content-->
 <!--<script type="text/ng-tempaltes" id="app.html">-->
   <div ui-view="" autoscroll="false" ng-class="app.views.animation" class="app"></div>

 <!--</script>-->

</section>
<!-- Page footer-->
<!--<footer ng-include="'/assets/templates/footer.html'"></footer>-->