<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<style>
    .mb-lg {
        margin-bottom: 10px;
    }

    .modal-open {
        overflow: auto;
    }

    .modal-open .modal {
        overflow-x: scroll;
        overflow-y: auto;
    }
.has-feedback label~.form-control-feedback {
    top: 12px;
}

    @media (min-width: 200px) and (max-width: 767px) {

        .modal-sm {
            width: 95% !important;
        }}
    .res-logo{
        height: 40px !important;
    }
    .logo-btn{
        float: right;background: transparent;border: none;font-size: 18px;
    }
    .modal-div{
        height: 15px;
    }
    .forgot-h4{
        font-family:poppins semibold;word-spacing:2px;text-align:center;font-size:20px;
    }
    .input-email{
        border-left:none; border-right:none;border-top:none ;margin-top:0px;
    }
    .email-top-div{
        padding: 30px;
    }
    .input-btn{
        font-family: Montserrat-regular;
        background: transparent;
        color: black !important;

        border: none;
        box-shadow: none;
        font-size: 20px;
        height: 50px;
    }
.input-i {
    position: relative;
    font-size: 50px;
    top: 9px;
}
    .submit-next{
        height: 25px;
    }
    .heder_arrow1{
        height: 40px;
        position: relative;
        /*top: -2px;*/
        /*left: 5px;*/

    }
</style>

<section>

    <div class="modal-header">
        <div class="col-md-12">
            <img src="assets/logo1.png" class="img-rsponsive res-logo">
            <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="close()"
                 class="logo-btn">x
            </button>
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="modal-div"></div>
            <div class="col-md-offset-0 col-md-12 col-md-12 mb-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-lg">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ">
                            <h4 class="forgot-h4"><b>FORGOT YOUR PASSWORD? </b></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-0 col-sm-10 col-md-12 col-lg-12 email-top-div">
                            <div class="col-sm-12 col-md-12">
                                <form class="form-group">
                                    <div class="form-group has-feedback floating-label-wrapper">
                                        <label for="InputEmail">Email</label>
                                        <input type="email" placeholder="Email" id="InputEmail"
                                               ng-model="loginuser.Email" required=" " autocomplete="off"
                                               class="form-control input-email" with-floating-label/>
                                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="input-btn" ng-click="get_email()">Submit</button>
                                        <img src="assets/right.png" class="heder_arrow1">
                                    </div>
                                    <div class="submit-next"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>