<style>
    .top-container{
        margin-top: 7%
    }
    .top-container h2{
        text-align: center;
    }
    .para-div{
        margin-top: 2%;
    }
</style>

<div class="container top-container">
    <h2>Know Your Career Level</h2>
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col=sm-8 col-md-8 col-lg-8 para-div">
            <div class="page-des"><dfn>You could be at any stage in your career and can use leapcurve for a
                self-assessment.</dfn>
                <p>Navigate privately through a series of critical questions about your current role to generate
                    a detailed customized report that clearly gives you a <strong>career level figure </strong>.
                </p>
                <a ui-sref="app.getStart" class="btn">Assess</a>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>
</div>