<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<style>
    .reset-div{
        margin-top: 10%;
    }
    .notify{
        display: block;
        text-align: center;
        font-size: 13px;
        color:#000;
    }
button.btn.btn-info:hover {
background:none;
}

button.btn.btn-info {
    background: none;
    color: black !important;
    border: none;
    font-size: 17px;

box-shadow:none;

}
.has-feedback .form-control {
    padding: 0px;
}
    .fa-fa-i{
        position: relative;font-size: 60px;top: 15px;
    }
    .send-mail{
        margin-bottom: 20px;
    }
    @media (max-width: 991px) {
        .fa-fa-i {
            position: relative;
            font-size: 45px;
            top: 10px;
        }
        button.btn.btn-info {
            background: none;
            color: black !important;
            border: none;
            font-size: 13px;
            box-shadow: none;
        }
        .top-row{
            padding: 0px 20px 0px 20px;

        }
    }
</style>
<div class="container reset-div">
    <toaster-container toaster-options="{'close-button':true }"></toaster-container>
    <div class="row top-row" ng-if="show_reset && !loader">
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <form class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 send-mail" align="Center">
                        <span>{{user_email}}</span>
                    </div>

                    <div class="form-group has-feedback floating-label-wrapper" >

                        <input type="password" placeholder="New Password" name="reset_new_password"  ng-model="reset_passwords.new_password"
                               autocomplete="off" class="form-control "/>
                    </div>
                    <div class="form-group has-feedback floating-label-wrapper">

                        <input type="password" placeholder="Confirm Password" name="reset_confirm_password"  ng-model="reset_passwords.confirm_password"
                               autocomplete="off" class="form-control "/>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="Center">
                        <button class="btn btn-info" type="submit" ng-click="user_reset_password()">RESET PASSWORD</button><i class="fa fa-angle-right fa-fa-i"></i>
                    </div>
                </div>
            </form>
            <!--<span class="notify" ng-if="isShowmsg">{{msg}}</span>-->
        </div>
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4">

        </div>
    </div>
    <div class="row" ng-if="!show_reset && !loader">
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
           <p>Invalid Token</p>
        </div>
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4">

        </div>
    </div>
    <div class="row" ng-if="loader">
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
           <p>Loading Please Wait...</p>
        </div>
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4">

        </div>
    </div>

</div>